extends ../layout

block content
  div.div
    form#search-form(action="/books", method="get")
      label(for="search") 
        input(name="search" type="search" id="search" value="", placeholder="Find a book...")
        input(type="submit", value="Search", id="search-button")
        section.options
          a#new-book(href="/books/new") Add New Book
          a#clear(href="/books") Clear Search

  main#index-content
    if books.length > 0 
      table
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in books
            tr.book-rows 
              td
                a(href='/books/' + book.id) #{book.title}
              td #{book.author}
              td #{book.genre}
              td #{book.year} 

    else 

      h3 Sorry, we don't have that!

  script(src='javascripts/script.js')