extends ../layout

block content
  div.div
    form#search-form(action="/books", method="get")
      label(for="search") Search
        input(name="search" type="search" id="search" value="")
        input(type="submit", value="Search")
      a#clear(href="/books") Clear
      a#new-book(href="/books/new") Add New Book

  main.index-content
    if books.length > 0 
      table
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in books
            tr
              td.book-rows 
                a(href='/books/' + book.id) #{book.title}
              td #{book.author}
              td #{book.genre}
              td #{book.year} 

    else 

      h3 Sorry, we don't have that!

    

      